body {
   background: url(../img/positano.png)
   center center fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}
div {
   float: center;
   position: 50%;
}
#Menu {
   width: 25%;
   height: 100vh;
   background-color: #e0cbd5;
   color: #333333;
   font-family: 'Quicksand', sans-serif;
   font-size: 1.2rem;
   line-height: 2.25rem;
   text-align: center;
   margin: 0 auto;
}

#Menu img {
   width: 80%;
}

#elizabeth {
   font-family: 'Libre Baskerville', serif;
   font-size: 1.3rem;
   color:  #333333;
   padding-bottom: 1%;
}

#welcome {
   padding-top: 5%;
   font-size: 1.2rem;
}

.img {
   min-width: 20%;
   position: fixed;
}

a:link {
color: gray;
}
a:visited {
color: white;
}
a:hover {
  color: white;
  background:  #f4777c;
}


