#container {
   position: relative;
}
#Menu {
   width: 25%;
   background-color: #333333;
   color: white;
   font-family: 'Quicksand', sans-serif;
   font-size: 1.2rem;
   line-height: 2.25rem;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   text-align: center;
}

#Menu img {
   width: 80%;
}
#elizabeth {
   font-family: 'Libre Baskerville', serif;
   font-size: 1.3rem;
   color: white;
   padding-bottom: 5%;
}
#column-right {
   position: center center scroll
   top: 10px;
   right: 10px;
   bottom: 10px;
   width: 250px;
}
.img {
   min-width: 20%;
   position: fixed;
}

h2 {
   padding-left: 20%;
   padding-right: 20%;
}

a:link {
color: white;
}
a:visited {
color: gray;
}
a:hover {
  color: #f4777c;
}
